* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #3b5e75;
}

.card {
    margin: 2rem auto;
    width: 500px;
    height: 550px;
    padding: 1rem;
}


.card img {
    height: 300px;
    border-radius: 1rem;
}

.Titulo {
    text-align: center;
    font-size: 30px;
    padding: 4rem;
    color: #fff;
}

.carousel {
    max-width: 720px;
    margin: 3rem auto;
}

.btn {
    margin: 0 auto;
    margin-bottom: 2rem;
    width: 300px;
}

footer {
    background-color: rgb(10, 16, 66);
    color: white;
    text-align: center;
    padding: 3rem;
}
.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
  }
  
  .nav-item {
    display: inline-block;
    margin: 0 10px;
  }
  
.navbar-custom{
    background-color: rgb(10, 16, 66);
}